repos/Wilmer_Toapanta/project-user/.vs/
repos/Wilmer_Toapanta/project-user/project-user/bin/
repos/Wilmer_Toapanta/project-user/project-user/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
repos/Wilmer_Toapanta/project-user/project-user/obj/
repos/Wilmer_Toapanta/workItem/.vs/
repos/Wilmer_Toapanta/workItem/workItem/obj/
repos/Wilmer_Toapanta/workItem/workItem/bin/
